---
layout: layouts/base.ejs
---

<div class="csvTable acteurs">
    <% csvReader.acteursData.forEach((row)=>{%>
    <article>
        <h1>
            <%=row['Nom'] %> --- <%=row.URL%>
        </h1>
        <p><%=row.Localisation%> --- <%=row.Nature%></p>
        <ol>
            <li><%=row["Expertise numérique 1"]%></li>
            <% if(row["Expertise numérique 2"]) { %>
                <li><%=row["Expertise numérique 2"]%></li>
            <%} %>
            <% if(row["Expertise numérique 3"]) { %>
                <li><%=row["Expertise numérique 3"]%></li>
            <%} %>
            <% if(row["Expertise numérique 4"]) { %>
                <li><%=row["Expertise numérique 4"]%></li>
            <%} %>
        </ol>
    </article>
    <%});%>
</div>