---
layout: layouts/tablesBase.njk
---
<br>
<br>
<br>
<div class='layout-post main-container'>
	<div class='centered'>
		<div class='column'>
			<div class='ui basic segment'>
				<%- content %>
			</div>
            <br>
            <div class="csvHeaderWrapper">
                <div class="tab">
                    <button class="tablinks active" onclick="openTab(event, 'acteurs')">acteurs</button>
                    <button class="tablinks" onclick="openTab(event, 'projects')">projects</button>
                </div>
                <div id="acteurs" class="tabcontent" style="display: block">
                    <br>
                    <p><%=acteursTitle?acteursTitle:"La liste de ces actrices et acteurs du changement n'est pas exhaustive. Vous pouvez nous contacter pour ajouter vos projets et références."%></p>
                    <% csvReader.acteursData.forEach((row)=>{%>
                    <article>
                        <h3>
                            <%=row['Nom'] %> --- <%=row.URL%>
                        </h3>
                        <p><%=row.Localisation%> --- <%=row.Nature%></p>
                        <p><%=row["Expertise numérique 1"]%></p>
                        <% if(row["Expertise numérique 2"]) { %>
                            <p><%=row["Expertise numérique 2"]%></p>
                        <%} %>
                        <% if(row["Expertise numérique 3"]) { %>
                            <p><%=row["Expertise numérique 3"]%></p>
                        <%} %>
                        <% if(row["Expertise numérique 4"]) { %>
                            <p><%=row["Expertise numérique 4"]%></p>
                        <%} %>
                    </article>
                    <%});%>
                </div>
                <div id="projects" class="tabcontent">
                    <br>
                    <p><%=projectsTitle?projectsTitle:"La liste de ces projects"%></p>
                    <% csvReader.projectsData.forEach((row)=>{%>
                    <article>
                        <h3>
                            <%=row['Nom'] %> --- <%=row.URL%>
                        </h3>
                        <p><%=row["Début du projet"]%> -- <%=row.Localisation%></p>
                        <p><%=row.Descriptif%></p>
                        <p><%=row["Porteur de projet 1"]%></p>
                        <% if(row["Porteur de projet 2"]) { %>
                            <p><%=row["Porteur de projet 2"]%></p>
                        <%} %>
                        <% if(row["Porteur de projet 3"]) { %>
                            <p><%=row["Porteur de projet 3"]%></p>
                        <%} %>
                        <% if(row["Porteur de projet 4"]) { %>
                            <p><%=row["Porteur de projet 4"]%></p>
                        <%} %>
                    </article>
                    <%});%>
                </div>
            </div>
            <script>
            function openTab(evt, tabName) {
                var i, tabcontents, tablinks;
                tabcontents = document.getElementsByClassName("tabcontent");
                for (i = 0; i < tabcontents.length; i++) {
                tabcontents[i].style.display = "none";
                }
                tablinks = document.getElementsByClassName("tablinks");
                for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
                }
                document.getElementById(tabName).style.display = "block";
                evt.currentTarget.className += " active";
            }
            </script>
		</div>
	</div>
</div>