---
layout: layouts/tablesBase.njk
---
<br>
<br>
<br>
<div class='layout-post main-container'>
	<div class='centered'>
		<div class='column'>
			<div class='ui basic segment'>
				<%- content %>
			</div>
            <br>
            <div class="csvHeaderWrapper">
                <div class="tab">
                    <button class="tablinks active" onclick="openTab(event, 'acteurs')">acteurs</button>
                    <button class="tablinks" onclick="openTab(event, 'projects')">projects</button>
                </div>
                <div id="acteurs" class="tabcontent" style="display: block">
                    <br>
                    <p><%=acteursTitle?acteursTitle:"La liste de ces actrices et acteurs du changement n'est pas exhaustive. Vous pouvez nous contacter pour ajouter vos projets et références."%></p>
                    <div id="tools">
                        <input type="search" id="searchActeurs" placeholder="Recherche">
                        <div id="sort">
                            <button id="az">A -> Z</button>
                            <button id="sector">Secteur</button>
                            <button id="local">Lieu</button>
                        </div>
                    </div>
                    <% csvReader.acteursData.forEach((row)=>{%>
                    <article class="acteurs--article">
                        <h3 class="acteurs--article--title"><%=row['Nom'] %></h3>
                        <div class="acteurs--article--info">
                            <span><%=row.Nature%></span>
                            <span><%=row.Localisation%></span>
                            <span><a href="<%=row.URL%>">Site web</a></span>
                        </div>
                        <ul class="acteurs--article--services">
                            <li><%=row["Expertise numérique 1"]%></li>
                            <% if(row["Expertise numérique 2"]) { %>
                            <li><%=row["Expertise numérique 2"]%></li>
                            <%} %> <% if(row["Expertise numérique 3"]) { %>
                            <li><%=row["Expertise numérique 3"]%></li>
                            <%} %> <% if(row["Expertise numérique 4"]) { %>
                            <li><%=row["Expertise numérique 4"]%></li>
                            <%} %>
                            </ul>
                        </article>
                    <%});%>
                </div>
                <div id="projects" class="tabcontent">
                    <br>
                    <p><%=projectsTitle?projectsTitle:"La liste de ces projects"%></p>
                    <% csvReader.projectsData.forEach((row)=>{%>
                        <article class="projects--article">
                            <h3 class="projects--article--title">
                              <%=row['Nom'] %> --- <%=row.URL%>
                            </h3>
                            <span><%=row["Début du projet"]%> -- <%=row.Localisation%></span>
                            <span><%=row.Descriptif%></span>
                            <p><%=row["Porteur de projet 1"]%></p>
                            <% if(row["Porteur de projet 2"]) { %>
                            <p><%=row["Porteur de projet 2"]%></p>
                            <%} %> <% if(row["Porteur de projet 3"]) { %>
                            <p><%=row["Porteur de projet 3"]%></p>
                            <%} %> <% if(row["Porteur de projet 4"]) { %>
                            <p><%=row["Porteur de projet 4"]%></p>
                            <%} %>
                          </article>
                    <%});%>
                </div>
            </div>
            <script>
                function openTab(evt, tabName) {
                    var i, tabcontents, tablinks;
                    tabcontents = document.getElementsByClassName("tabcontent");
                    for (i = 0; i < tabcontents.length; i++) {
                    tabcontents[i].style.display = "none";
                    }
                    tablinks = document.getElementsByClassName("tablinks");
                    for (i = 0; i < tablinks.length; i++) {
                    tablinks[i].className = tablinks[i].className.replace(" active", "");
                    }
                    document.getElementById(tabName).style.display = "block";
                    evt.currentTarget.className += " active";
                }
            </script>
            <script defer>
                document.getElementById('searchActeurs').addEventListener('input', (event) => {
                    search();
                });
            </script>
		</div>
	</div>
</div>