---
layout: layouts/base.ejs
---

<div class="csvTable projects">
    <% csvReader.projectsData.forEach((row)=>{%>
    <article>
        <h1>
            <%=row['Nom'] %> --- <%=row.URL%>
        </h1>
        <p><%=row["Début du projet"]%> -- <%=row.Localisation%></p>
        <p><%=row.Descriptif%></p>
        <ol>
            <li><%=row["Porteur de projet 1"]%></li>
            <% if(row["Porteur de projet 2"]) { %>
                <li><%=row["Porteur de projet 2"]%></li>
            <%} %>
            <% if(row["Porteur de projet 3"]) { %>
                <li><%=row["Porteur de projet 3"]%></li>
            <%} %>
            <% if(row["Porteur de projet 4"]) { %>
                <li><%=row["Porteur de projet 4"]%></li>
            <%} %>
        </ol>
    </article>
    <%});%>
</div>